.panel-title {
    font-size: 26px;
}

.panel-body p {
    font-size: 14px;
}

body {
    background-color: #781B1A;
}

.panel-default > .panel-heading {
    background-color: #E7E9E9;
}

.float-right {
    float: right;
}