<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dice Roll</title>
</head>
<body>

<div th:if="${rollPick}">

    <div>
        <h1>Lets Roll a Die</h1>
        <h3>Guess what it will be</h3>
    </div>

    <h2><a href="roll-dice/1">1</a></h2>
    <h2><a href="roll-dice/2">2</a></h2>
    <h2><a href="roll-dice/3">3</a></h2>
    <h2><a href="roll-dice/4">4</a></h2>
    <h2><a href="roll-dice/5">5</a></h2>
    <h2><a href="roll-dice/6">6</a></h2>

</div>

<div th:if="!${rollPick}">

    <h1 th:if="${correctGuess}">You Guessed Right!</h1>
    <h1 th:if="!${correctGuess}">Sorry, You Didn't Guess It</h1>
    <h3>You guessed <span th:text="${guess}"></span></h3>
    <h3>The dice rolled a <span th:text="${roll}"></span></h3>
</div>


</body>
</html>